* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.main {
  display: grid;
}
.landing {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 60px;
  margin-left: -100px;
  margin-top: -30px;
  text-align: center;
}
#describe {
  padding: 3%;
}

.navber {
  position: fixed;
  width: 1440px;
  height: 90px;
  left: -1px;
  margin: auto;
  padding-left: 160px;
  padding-top: 25px;
  padding-right: 160px;
  padding-bottom: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  z-index: 1000;
}

.logo {
  width: 120px;
  cursor: pointer;
}

.navber ul li {
  list-style: none;
  display: inline-block;
  margin: 0 15px;
}

.navber ul li a {
  text-decoration: none;
  color: #000;
  text-transform: lowercase;
}

.navber ul li button {
  background-color: white;
  color: black;
  border: 2px solid #cccbcb;
  padding: 0.3cm;
  border-radius: 0.8cap;
  box-shadow: 5px 5px 20px -5px rgb(0, 0, 0, 0.75);
  cursor: pointer;
}
div button {
  background-color: white;
  color: black;
  border: 2px solid #cccbcb;
  padding: 0.3cm;
  border-radius: 0.8cap;
  box-shadow: 5px 5px 20px -5px rgb(0, 0, 0, 0.75);
  cursor: pointer;
}
.btn:hover {
  background-color: rgb(163, 163, 172);
  color: #ffff;
}
.container2 {
  text-align: center;
  margin-top: 51%;
  padding: 5%;
  background-color: #b1afaf;
}
.landing2 {
  display: flex;
  justify-content: space-between;
  margin-top: 3%;
}
.pic {
  border: #000;
  width: 30%;
}
#des {
  margin-top: 17%;
  margin-left: 2%;
  margin-right: 2%;
}

.title {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
}
.title::before,
.title::after {
  content: '';
  height: 2px;
  background-color: #000;
  display: block;
}

.popup {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  display: none;
  justify-content: center;
  align-items: center;
}

.pop-content {
  height: 250px;
  width: 500px;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 5px;
  position: relative;
  box-shadow: 5px 5px 20px -5px rgb(0, 0, 0, 0.75);
}
input {
  height: 50px;
  width: 80%;
  margin-top: 5px;
}

.close {
  position: absolute;
  top: -15px;
  right: -15px;
  height: 15px;
  width: 15px;
  background: #fff;
  border-radius: 50%;
  box-shadow: 5px 5px 20px -5px rgb(0, 0, 0, 0.75);
  cursor: pointer;
}
.info {
  padding: 10px;
}
